@import '~bootstrap/scss/bootstrap';

$main-color: #ECE6E5; //light gray
$secondary-color: #928E8E;  //dark gray

h1 {
  padding: 20px;
}

body {
  background-color: $main-color;
  padding: 40px;
}

.box {
  background-color: #928E8E;
  padding: 40px 30px 40px 30px;
  text-align: center;
}

footer {
  background-color: $main-color;
  padding: 30px;
}
