@import '~bootstrap/scss/bootstrap';

$main-color: #ece6e5; //light gray
$secondary-color: #928e8e;  //dark gray
$tertiary-color: #928e8e;
$black: #000;
$background-footer: #6b5f5f;

h1 {
  padding: 20px;
}

.rules {
  padding-left: 30px;
  text-align: left;
}

p {
  text-align: center;
}

nav {
  margin-left: 50px;
}

body {
  background-color: $main-color;
  //padding: 40px;
}

.container {
  margin-bottom: 20px;
}


.break {
  height: 70px;
  width: 60%;
}

.box {
  background-color: $tertiary-color;
  border: 10px $black dashed;
  height: 200px;
  padding: 40px 30px;
  text-align: center;
}

footer {
  background-color: $background-footer;
  padding: 30px;
}
