@import '~bootstrap/scss/bootstrap';

$main-color: #ECE6E5; //light gray
$secondary-color: #928E8E;  //dark gray

h1 {
  padding: 20px;
}

.rules {
  text-align: left;
  padding-left: 30px;
}

p {
  text-align: center;
}

nav {
  margin-left: 50px;
}

body {
  background-color: $main-color;
  //padding: 40px;
}
.container {
  margin-bottom: 20px;
}

.message {

}

.break {
  width: 60%;
  height: 70px;

}
.box {
  background-color: #928E8E;
  padding: 40px 30px 40px 30px;
  height: 200px;
  text-align: center;
  border: 10px black dashed;
}

footer {
  background-color: #6b5f5f;
  padding: 30px;
}
